<div id="<%= dom_id auction_item %>">
  <p>
    <strong>Name:</strong>
    <%= auction_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= auction_item.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= auction_item.status %>
  </p>

</div>
